*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #1F8A70;
    
}


img{
    width: 100%;
    
}

ul{
    list-style-type: none;

}

h1{    font-family: 'Work Sans', sans-serif;
    color: #00425A;
    text-align: center;
    background-color: rgba(239, 245,245, 0.6);


}

h2{font-family: 'Work Sans', sans-serif;
    color: #00425A;
    text-align: center;
    background-color: rgba(239, 245,245, 0.6);

}

h3{
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}


#logo{
    width: 10%;
    justify-content: center;
    margin: auto;


}

#menu{
    text-align: center;
    font-family: 'Belanosima', sans-serif;

}
#Banner{
    text-align: center;
    font-family: 'Belanosima', sans-serif;


}


/*#bannertitulo{
max-width: 100%;
height: 426px;
    justify-content: center;
    margin: auto;
}*/
#titulo{
    position: absolute;
    top: 123px;
    font-size: 3rem;
    color: #181823 ;
    background-color: rgba(252  , 73, 00, 0.5);
    padding: 15px;
    width: 100%;
    text-align: center;
    /*font-weight: 200;*/

}
.Seccion{
    font-family: 'Work Sans', sans-serif;
    margin: 10px;
    color: #181823;
}


#QuienesSomos{
 display: inline;   
 text-align: center;
 gap: 5px;

}
#PorQueElegirnos{
display:inline;
text-align: center;
gap: 5px;}

#PropuestaEducativa{
    display: inline;

}

.card{
    background-color: #1F8A70;
    width: 18rem;
    align-items: center;
    gap: 5px;
}

.card-body{
    text-align: center;
}

.Noticias{
    text-align: center;
}

#PiedePagina{
    font-family: 'Belanosima', sans-serif;
    font-weight: bold;
}
@media (min-width: 768px){

    #Encabezado{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Belanosima', sans-serif;
        font-weight: bold;
        margin-top: 10px;
        margin-right: 50px;
        font-size: 25px;
        
        
    }
    
    #opciones{
        display: flex;
        gap: 20px;
        
    
    }

    #Banner{
        align-items: center;
        position: relative;
        display: inline;
        text-align: center;

    }

    #titulo{
        position: absolute;
        top: 120px;
        font-size: 7rem;
        color: #181823 ;
        background-color: rgba(252  , 73, 00, 0.5);
        padding: 20px;
        width: 100%;
        text-align: center;
        font-weight: 600;

    }
 
    #QuienesSomos{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    #PorQueElegirnos{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    #PropuestaEdu{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 5px;
        margin-left: 50px;
        align-items: center;
        justify-content: center;
    }

    #UltimasNoticias{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: #1F8A70;

    }

}

@media (min-width: 1200px){
    #PropuestaEdu{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 5px;
        margin-left: 5px;
        align-items: center;
        justify-content: center;


}